<header>
  <div class="header-content">
    <div class="logo">
      <a routerLink="/summary"
        ><img class="logo-img" src="assets/img/logo/logo-mobile.png" alt="Logo"
      /></a>
    </div>
    <div class="headline">
      <p class="headline-text">Kanban Project Management Tool</p>
    </div>

    <div class="icon-section">
      <div routerLink="/help">
        <img class="help-icon" src="assets/img/icons/help.png" alt="" />
      </div>

      <div
        class="user-profile"
        (click)="toggleMenu($event)"
        *ngIf="isLoggedIn()"
      >
        <p>{{ getCurrentUserInitials() }}</p>
        <div #menu class="user-menu-links" *ngIf="menuOpen" @slideInOut>
          <a class="mobile-help-link" routerLink="/help">Help</a>
          <a routerLink="/privacy-policy">Privacy Policy</a>
          <a routerLink="/legal-notice">Legal notice</a>
          <a (click)="logout()" *ngIf="isLoggedIn()">Log out</a>
        </div>
      </div>
    </div>
  </div>
</header>
