<div class="card-layout" (click)="openTaskDetails(task)">
  <div class="wrapper-top">
    <p
      class="category-flag-card"
      [style.background-color]="
        task.category == 'user story' ? '#0038ff' : '#1fd7c1'
      "
    >
      {{ taskService.capitalize(task.category) }}
    </p>

    <button
      class="dots-menu-btn"
      type="button"
      (click)="openDotsMenuHandler($event)"
      aria-label="Mehr Optionen"
    >
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </button>

    <div
      class="dots-menu-overlay"
      *ngIf="isDotsMenuOpen"
      (click)="$event.stopPropagation()"
    >
      <a *ngIf="task.status !== 'to-do'" (click)="changeStatus('to-do', $event)"
        >To Do</a
      >
      <a
        *ngIf="task.status !== 'in-progress'"
        (click)="changeStatus('in-progress', $event)"
        >In Progress</a
      >
      <a
        *ngIf="task.status !== 'await-feedback'"
        (click)="changeStatus('await-feedback', $event)"
        >Awaiting Feedback</a
      >
      <a *ngIf="task.status !== 'done'" (click)="changeStatus('done', $event)"
        >Done</a
      >
    </div>
  </div>
  <div class="task-card">
    <h1 class="see-more">{{ taskService.capitalize(task.title) }}</h1>
    <p class="task-description truncated">
      {{ taskService.capitalize(task.description) }}
      <span class="see-more">…</span>
    </p>
    <div
      class="subtask-wrapper"
      [style.visibility]="
        subtaskList && subtaskList.length > 0 ? 'visible' : 'hidden'
      "
    >
      <div class="subtask-bar-default">
        <div
          class="subtask-bar-fill"
          [ngStyle]="{ width: percentageCompleted(subtaskList) + '%' }"
        ></div>
      </div>
      <span>
        {{ getCompletedSubtasksCount(subtaskList) }} /
        {{ subtaskList.length }} Subtasks
      </span>
    </div>
    <div class="card-bottom-wrapper">
      <div class="collaborators-wrapper">
        <div class="img-user-wrapper">
          @for (contact of getAssignedContacts().slice(0, 4); track contact.id) {
          <div
            class="img-user"
            [style.background-color]="
              contactService.getContactColor(contact.name)
            "
          >
            <p class="contact-initials">
              {{ contactService.getInitials(contact.name) }}
            </p>
          </div>
          }
          <div
            class="img-user more-count"
            *ngIf="getAssignedContacts().length > 4"
            [title]="getRemainingContactNames()"
          >
            +{{ getAssignedContacts().length - 4 }}
          </div>
        </div>
      </div>
      <img
        src="assets/img/icons/prio-high.png"
        alt="Priority High Icon"
        class="card-priority"
        *ngIf="task.priority === 'urgent'"
      />
      <img
        src="assets/img/icons/prio-medium.png"
        alt="Priority Medium Icon"
        class="card-priority"
        *ngIf="task.priority === 'medium'"
      />
      <img
        src="assets/img/icons/prio-low.png"
        alt="Priority Low Icon"
        class="card-priority"
        *ngIf="task.priority === 'low'"
      />
    </div>
  </div>
</div>
